/* Font Family */
@import url(https://db.onlinewebfonts.com/c/415c1cffdc1ffdf955cdd328ad4a4c87?family=Cheltenham);

@font-face {font-family: "Cheltenham";
  src: url("//db.onlinewebfonts.com/t/415c1cffdc1ffdf955cdd328ad4a4c87.eot");
  src: url("//db.onlinewebfonts.com/t/415c1cffdc1ffdf955cdd328ad4a4c87.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/415c1cffdc1ffdf955cdd328ad4a4c87.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/415c1cffdc1ffdf955cdd328ad4a4c87.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/415c1cffdc1ffdf955cdd328ad4a4c87.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/415c1cffdc1ffdf955cdd328ad4a4c87.svg#Cheltenham") format("svg");
}


/* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* CSS Reset */

html,body,div,span,h1,h3,ul,li {
  border:0;
  font: Cheltenham ,Georgia;
  font-size: 100%;
  margin: 0 auto;
  padding:0;
  /*vertical-align:baseline;*/
}



/* ----------------------- Mobile ------------------------ */

@media only screen and (min-width: 300px) and (max-width: 440px) {



  /* Basic Styles */

  html, body {
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
    background-color: black;
    color:#C8C7C8;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Cheltenham, Georgia;
    font-weight:700;
  }
  * {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
  }
  footer {
    font-size: 10px;
  }
  img {
    max-width: 75px;
    max-heigh: 75px;
    margin-top: 2%;
  }
  /* Typography */

  h1, h3 { color: #ffffff; font-weight: 500; margin: 0 auto; }

  h1 {
    text-align: center;
    margin: 0;
    font-weight: 700;
  }
  h3 {
    line-height: 30px;
    font-size: 30px;
    width: 100%;
  }
  p {
    text-align: left;
    font-size: 10px;
    margin-left: 2.5%;
    letter-spacing: 1px;
    font-weight: 500;
  }

  /* CSS Transitions */

  * {
    -moz-transition:all 100ms ease;
    -o-transition:all 100ms ease;
    -webkit-transition:all 100ms ease;
    transition:all 100ms ease;
  }

  /* Highlight Styles */
  ::selection { background-color:#262223; color:#444; }
  ::-moz-selection { background-color:#262223; color:#444; }

  .app {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  .app h1 {
    font-size: 50px;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .moto {
    visibility: hidden;: 
    position: absolute;
    font-size: 18px;
    margin-top: -7%;
    padding-left: 5%;
  }
  .moto.bottom {
    padding-left: 43%;
  }
  /* Player */

  .player {
    background-color: #090909;
    font-family: Cheltenham ,Georgia;
    margin: 0 auto 10%;
    width: 100%;
    height: 10%;
    text-align: center;
  }

  .player h3 {
    font-size: 26px;
    padding: 1% 0 5% 0;
    text-align: center;
    overflow: hidden;

  }
  .player p {
    text-align: center;
  }
  /* Button state */
  .player button {
    margin: 3% auto 1.5%;
    background-color: #090909;
  }

  .play {
    height:60px;
    width:60px;
    background: url("../assets/play-icon-300.png");
    background-size: 100%;
    background-position: center;
    border-radius: 50%;
    -moz-border-radius: 5%0;
    -webkit-border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;

  }
  .paused {
    height:60px;
    width:60px;
    background: url("../assets/paused-button.png");
    background-size: 100%;
    background-position: center;
    border-radius: 50%;
    -moz-border-radius: 5%0;
    -webkit-border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
  }

  .player button:active {
    /*background-color: #231F20;*/
    transform: scale(1.05);
  }

  /* Article List */
  .article-list {
    align-text:left;
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
    -webkit-column-gap: 1.5em;
    -moz-column-gap: 1.5em;
    column-gap: 1.5em;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    -webkit-column-height: 20%;
    -moz-column-height: 20%;
    column-height: 20%;
    width: 100%;
    height: 30%;
    margin: 2% auto 10%;
  }

  /* Article List Item */

  .list-item {
    background-color: #090909;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    width: 100%;
    height: 60%;

  }
  .list-item h3 {
    text-align: left;
    font-size: 28px;
    height:40%;
    width: 100%;
    padding: 5% 2.5% 5% 2.5%;
  }

  .list-item:active {
    background-color: #181818;
    transform: scale(1.025);
  }
  div.article-list-item {
    width: 100%;
    height: 25%;
  }

}

 /* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* CSS Reset */

html,body,div,span,h1,h3,ul,li {
  border:0;
  font: Cheltenham ,Georgia;
  font-size: 100%;
  margin: 0 auto;
  padding:0;
  /*vertical-align:baseline;*/
}




/* ----------------------- Tablet ---------------------- */

@media only screen and (min-width: 768px) and (max-width: 959px) {


  /* Basic Styles */

  html, body {
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
    background-color: black;
    color:#C8C7C8;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Cheltenham, Georgia;
    font-weight:700;
  }
  * {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
  }

  img {
    max-width: 75px;
    max-heigh: 75px;
  }
  /* Typography */

  h1, h3 { color: #ffffff; font-weight: 500; margin: 0 auto; }

  h1 {
    text-align: center;
    margin: 0;
    font-weight: 700;
  }
  h3 {
    line-height: 44px;
    font-size: 38px;
    width: 100%;
  }
  p {
    text-align: left;
    font-size: 14px;
    margin-left: 2.5%;
    letter-spacing: 1px;
    font-weight: 500;
  }

  /* CSS Transitions */

  * {
    -moz-transition:all 100ms ease;
    -o-transition:all 100ms ease;
    -webkit-transition:all 100ms ease;
    transition:all 100ms ease;
  }

  /* Highlight Styles */
  ::selection { background-color:#262223; color:#444; }
  ::-moz-selection { background-color:#262223; color:#444; }

  .app {
    margin: 0 auto;
    width: 60%;
    height: 60%;
  }

  .app h1 {
    font-size: 66px;
    padding-top: 5%;
    padding-bottom: 7%;
  }

  /* Player */

  .player {
    background-color: #090909;
    font-family: Cheltenham ,Georgia;
    margin: 0 auto 10%;
    width: 100%;
    height: 10%;
    text-align: center;
  }

  .player h3 {
    padding: 1% 0 5% 0;
    text-align: center;
    overflow: hidden;

  }
  .player p {
    text-align: center;
  }
  /* Button state */
  .player button {
    margin: 1.5% auto 1.5%;
    background-color: #090909;
  }

  .play {
    height:80px;
    width:80px;
    background: url("../assets/play-icon-300.png");
    background-size: 100%;
    background-position: center;
    border-radius: 50%;
    -moz-border-radius: 5%0;
    -webkit-border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;

  }
  .paused {
    height:80px;
    width:80px;
    background: url("../assets/paused-button.png");
    background-size: 100%;
    background-position: center;
    border-radius: 50%;
    -moz-border-radius: 5%0;
    -webkit-border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
  }

  .player button:active {
    /*background-color: #231F20;*/
    transform: scale(1.05);
  }

  /* Article List */
  .article-list {
    align-text:left;
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
    -webkit-column-gap: 1.5em;
    -moz-column-gap: 1.5em;
    column-gap: 1.5em;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    -webkit-column-height: 20%;
    -moz-column-height: 20%;
    column-height: 20%;
    width: 100%;
    margin: 2% auto 10%;
  }

  /* Article List Item */

  .list-item {
    background-color: #090909;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    width: 100%;

  }
  .list-item h3 {
    text-align: left;
    font-size: 34px;
    width: 100%;
    padding: 5% 2.5% 5% 2.5%;
  }

  .list-item:active {
    background-color: #181818;
    transform: scale(1.025);
  }
}





/* -------------------- Desktop ------------------------- */

@media only screen and (min-width: 992px)  and (max-width: 2048px) {

  /* Basic Styles */

  html, body {
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
    background-color: black;
    color:#C8C7C8;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Cheltenham, Georgia;
    font-weight:700;
  }
  * {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
  }
  footer {
    font-size: 12px;
  }

  img {
    max-width: 150px;
    max-heigh: 150px;
  }
  /* Typography */

  h1, h3 { color: #ffffff; font-weight: 500; margin: 0 auto;}

  h1 {
    text-align: center;
    font-size: 76px;
    line-height: 80px;
    padding-top: 2%;
    padding-bottom: 0;
    margin: 0;
    font-weight: 500;
    letter-spacing: 1px;
  }
  h3 {
    min-height: 3em;
    line-height: 40px;
    font-size: 24px;
    width: 100%;
  }
  p {
    text-align: left;
    font-size: 12px;
    margin-left: 2.5%;
  }

  /* CSS Transitions */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

  .moto {
    position: absolute;
    font-weight: 500;
    font-size: 65px;
    margin-left: 2.5%;

    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }

  .moto.top {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
    padding-top: 16%;
  }

  .moto.bottom {
    -webkit-animation-delay: 2.2s;
    -moz-animation-delay:2.2s;
    animation-delay: 2.2s;
    padding: 19.5% 0 0 0;
  }

  * {
  -moz-transition:all 100ms ease;
  -o-transition:all 100ms ease;
  -webkit-transition:all 100ms ease;
  transition:all 100ms ease;
  }

  /* Highlight Styles */
  ::selection { background-color:#262223; color:#444; }
  ::-moz-selection { background-color:#262223; color:#444; }

  .app {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }


  /* Player */

  .player {
    background-color: #090909;
    font-family: Cheltenham ,Georgia;
    margin: 1.5% auto 1.5%;
    width: 30%;
    height: 10%;
    text-align: center;
  }

  .player h3 {
    line-height: 42px;
    font-size: 38px;
    padding: 2.5% 0.4% 2.5% 0.4%;
    text-align: center;
    overflow: hidden;

  }
  .player p {
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
  }

  /* Button state */

  .player button {
    margin: 1% auto 1.5%;
  }

  .play {
    height:70px;
    width:70px;
    background: url("../assets/play-icon-300.png");
    background-size: 100%;
    background-position: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;

  }
  .paused {
    height:70px;
    width:70px;
    background: url("../assets/paused-button.png");
    background-size: 100%;
    background-position: center;
    border-radius: 50%;
    -moz-border-radius: 5%0;
    -webkit-border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
  }

  .player:active {
    background-color: #231F20;
  }
  .player button:active {
    background-color: white;
  }
  .player button:hover {
    transform: scale(1.05);
  }

  /* Article List */

  .article-list {
    align-text:left;
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
    -webkit-column-gap: 1.5em;
    -moz-column-gap: 1.5em;
    column-gap: 1.5em;
    -webkit-column-width: 10%;
    -moz-column-width: 10%;
    column-width: 10%;
    -webkit-column-height: 10%;
    -moz-column-height: 10%;
    column-height: 10%;
    width: 100%;
    height: 30%;
    margin-bottom: 3%;
  }

  /* Article List Item */

  .list-item {
    background-color: #090909;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    width: 100%;
    height: 60%;
    border-right: solid 1px #222222;
    border-left: solid 1px #222222;

  }
  .list-item h3 {
    text-align: left;
    font-size: 34px;
    height:40%;
    width: 90%;
    padding: 5% 2.5% 5% 2.5%;
  }
  .list-item p {
    font-weight: 500;
    letter-spacing: 1px;
  }
  .list-item:hover {
    background-color: #181818;
    transform: scale(1.05);
  }
  div.article-list-item {
    width: 30%;
    height: 25%;
  }
}
/* Mixins */
@mixin generate-gradient($color,$amount) {
  background: -moz-linear-gradient(top, rgba($color,$amount) 0%, rgba($color,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba($color,$amount) 0%,rgba($color,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba($color,$amount) 0%,rgba($color,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}


/* All Apple Products */
html[data-useragent*="Apple"] .player { background-color:#000; }
html[data-useragent*="Apple"] . { min-height:64px; top:12px; }
html[data-useragent*="Apple"] .article-list-item li { background-color:#000; }
html[data-useragent*="Apple"] .article-list-item li:hover { background-color:#080808; }

